#root {
  margin: 0 auto;
}

.content-table {
  height: 800px;

  max-width: 1800px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.search-bar {
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;

  margin-bottom: 15px;

  width: 1790px;
  height: 1.5em;
}